#editor {
  height: 400px;
}

/* Style untuk image resize handles */
.ql-image-resize-handle {
  background-color: #4285f4;
  border: 1px solid #fff;
  width: 10px !important;
  height: 10px !important;
}

.ql-image-resize-handle.top-left {
  top: -5px !important;
  left: -5px !important;
}

.ql-image-resize-handle.top-right {
  top: -5px !important;
  right: -5px !important;
}

.ql-image-resize-handle.bottom-left {
  bottom: -5px !important;
  left: -5px !important;
}

.ql-image-resize-handle.bottom-right {
  bottom: -5px !important;
  right: -5px !important;
}

.ql-editor.ql-blank::before {
  color: #929bac; /* Warna placeholder */
  font-style: normal; /* Hilangkan gaya miring (italic) jika ada */
}

/* Style untuk container editor */
.ql-container {
  border-bottom-left-radius: 12px; /* Border radius kiri bawah */
  border-bottom-right-radius: 12px; /* Border radius kanan bawah */
  border: 1px solid #ccc; /* Border untuk container */
  background-color: transparent; /* Warna latar belakang editor */
}

/* Style untuk editor */
.ql-editor {
  font-size: 1rem; /* Sesuaikan ukuran font */
  border-bottom-left-radius: 12px; /* Border radius kiri bawah */
  border-bottom-right-radius: 12px; /* Border radius kanan bawah */
  color: #ffd32a;
}

/* Style untuk toolbar */
.ql-toolbar {
  border-top-left-radius: 12px; /* Border radius kiri atas */
  border-top-right-radius: 12px; /* Border radius kanan atas */
  border-bottom: 3px solid #ccc; /* Border bottom lebih tebal */
  background-color: transparent; /* Warna latar belakang toolbar */
  color: white;
  padding: 8px; /* Padding untuk toolbar */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Inner shadow */
}

.ql-snow .ql-stroke {
  stroke: #ffd32a;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #ffd32a;
}

.ql-snow.ql-toolbar button.ql-active {
  color: #ffd32a;
}

/* Jarak antara grup ikon */
.ql-toolbar .ql-formats {
  margin-right: 15px;
}

/* Jarak antara ikon dalam grup yang sama */
.ql-toolbar button {
  margin-right: 8px;
}
